* {
  font-family: "CaskaydiaCove Nerd Font", "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;
  border-radius: 0;
  min-height: 0;
  border: none;
  font-weight: bold;	
}

#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: rgba(24,24,37,1.0);
  border: none;
  box-shadow: none;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 10px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: rgba(36, 36, 52, 1.0);
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#tray {
  margin: 6px 3px;
  background-color: rgba(36, 36, 52, 1.0);
  padding: 6px 12px;
  border-radius: 6px;
  border-width: 0px;
}

/* Shared module style */
#window,
#clock,
#custom-powermenu,
#bluetooth,
#battery,
#pulseaudio,
#memory,
#cpu,
#language,
#network,
#custom-settings,
#custom-wallpaper,
#custom-waybarthemes,
#custom-tools,
#custom-cliphist,
#custom-notification,
#custom-hypridle,
#custom-appmenuicon,
#custom-chatgpt,
#custom-system,
#custom-calculator,
#custom-empty {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

/* Module-specific background overrides */
#clock {
  background-color: #89b4fa;
}
#custom-powermenu {
  background-color: #f38ba8;
}
#bluetooth {
  background-color: #f9e2af;
}
#battery {
  background-color: #cba6f7;
}
#custom-notification {
  background-color: #cba6f7;
}
#pulseaudio {
  background-color: #89dceb;
}
#language {
  background-color: #fab387;
}
#memory {
  background-color: #f7768e;
}
#cpu {
  background-color: #f38ba8;
}
#network {
  background-color: #fab387;
}
#window {
  background-color: #74c7ec;
}
#custom-settings {
  background-color: #94e2d5;
}
#custom-wallpaper {
  background-color: #fab387;
}
#custom-waybarthemes {
  background-color: #cdd6f4;
}
#custom-updates {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #cba6f7;
  color: #181825;
}
#custom-tools {
  background-color: #a6e3a1;
}
#custom-cliphist {
  background-color: #f5c2e7;
}
#custom-hypridle {
  background-color: #74c7ec;
}
#custom-appmenuicon {
  background-color: #89dceb;
	font-size: 15px;
	padding: 6px 15px 6px 12px;
}
#custom-chatgpt {
  background-color: #89b4fa;
}
#custom-system {
  background-color: #f9e2af;
}
#custom-calculator {
  background-color: #a6e3a1;
}
#custom-empty {
  background-color: transparent;
}

tooltip {
  border-radius: 8px;
  padding: 16px;
  background-color: #131822;
  color: #C0C0C0;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
  color: #C0C0C0;
}

